body {
    background: pink;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
 }
 
 .playerChoice {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 5em;
    margin: 0 10px;
    transition: 0.2s;}
.playerChoice:hover {
       transform: scale(1.1);
    }
 
 